*{font-family: "Open Sans",sans-serif;}

body{ 
    background-color: #f3f3f3;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
.btn-primary{
    background-color: orange !important;
}
.login-container .nav-item .active{
    background-color: orange !important;
    color: white !important;
}
.login-container a{
    color: orange !important;
}
.form-check-input{
    background-color: orange !important;
}
footer{
    margin-top: 4em;
    background-color: #f3f3f3 !important;
    color: #cdcaca !important;
}