<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      <!--
      Font
      Awesome
      --
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css"
      rel="stylesheet"
    />
    <title>insert meaningful title here</title>
    <link rel="stylesheet" href="homepage.css" />
  </head>
  <body>
    <div id="app" class="container-fluid">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
        <!-- Container wrapper -->
        <div class="container-fluid">
          <!-- Navbar brand -->
          <a class="navbar-brand" href="#">Brand</a>

          <!-- Toggle button -->
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>

          <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Challenges</a>
              </li>
              <!-- Navbar dropdown -->
            </ul>
            <!-- Left links -->

            <!-- login register btn -->
            <div class="d-flex justify-content-around">
              <button class="btn btn-primary">REGISTER</button>
              <button class="btn btn-light pl-3">LOGIN</button>
            </div>
          </div>
          <!-- Collapsible wrapper -->
        </div>
        <!-ui- Container wrapper -->
      </nav>
      <!-- Navbar -->
      <section id="body" class="container-fluid col">
          <div class="bg-img"></div>
          <div class="container-fluid col-6 body-content row align-items-center">
              <div class="container">
                <div class="col-lg-6 col-md-6">
                  <h1><b>Insert something interesting</b></h1>
                  <button class="btn btn-primary">Join now</button>
                </div>
              </div>
          </div>
      </section>
      <footer id="footer" class="container-fluid">
        created by ducbui
      </footer>
    </div>
    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"
    ></script>
  </body>
</html>
