<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
      integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="abtChallenge.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- <div class="container-fluid"> -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light w-100 position-sticky">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">Brand</a>

        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Challenges</a>
            </li>
            <!-- Navbar dropdown -->
          </ul>
          <!-- Left links -->

          <!-- login register btn -->
          <div class="d-flex justify-content-around align-items-center">
            <svg height="50" width="50">
              <circle
                cx="25"
                cy="21"
                r="20"
                stroke="black"
                stroke-width="1"
                fill="none"
              />
            </svg>
            <h4>Name</h4>
          </div>
        </div>
        <!-- Collapsible wrapper -->
      </div>
      <!--ui- Container wrapper -->
    </nav>
    <div class="container-fluid row pt-2 content-container">
      <div class="col-lg-6 video-and-posts">
        <div class="card">
          <div class="card-body">
            <iframe
              style="width: 100%; height: fit-content"
              src="https://www.youtube.com/embed/yzAO8ozWfCQ"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="seperator p-1"></div>
        <div class="card">
          <div class="card-header">
            <h5>hiiii</h5>
          </div>
          <div class="card-body">
            <div class="videoContainer row">
              <video src="" controls></video>
            </div>
          </div>
          <div class="card-footer">
            <i class="far fa-heart p-2" style="color: rgb(247, 108, 108); font-size: 25px"></i>
            <i
              class="far fa-comment"
              style="color: rgb(110, 110, 241); font-size: 25px"
            ></i>
            <!-- <i class="fas fa-comment" style="color: rgb(210, 210, 250); font-size: 25px"></i> -->
          </div>
        </div>
        <div class="seperator p-1"></div>
        <div class="card">
          <div class="card-header">
            <h5>hiiii</h5>
          </div>
          <div class="card-body">
            <div class="videoContainer row">
              <video src="" controls></video>
            </div>
          </div>
          <div class="card-footer">
            <i class="far fa-heart p-2" style="color: red; font-size: 25px"></i>
            <i
              class="far fa-comment"
              style="color: rgb(110, 110, 241); font-size: 25px"
            ></i>
            <!-- <i class="fas fa-comment" style="color: rgb(210, 210, 250); font-size: 25px"></i> -->
          </div>
        </div>
      </div>
      <div class="col-lg-6 position-relative">
        <div class="container position-sticky">
          <div class="description pb-2">
            <h1>Description</h1>
            <p>lorem ipsum dolor sit lorem</p>
          </div>
          <div class="submit">
            <button class="summitBtn btn btn-primary">SUMMIT YOUR VIDEO</button>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
    

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"
    ></script>
  </body>
</html>
